
/*-- scss:defaults --*/

// Colors

$steal-blue: #6082B6;
$deep-navy-blue: #0437F2;
$black: #000000;
$jade-green: 	#425635;
$white: #ffffff;
$WhiteSmoke: #F5F5F5;
$blue: #0000FF ;
$coral-pink: #F88379;
$light-green: #8FED92;
$light-blue: #B0E0E6;
$code-chunk-yellow: #F5F2D0;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display#=swap');



// Base Document Colors 

$navbar-bg: $jade-green; //navbar
$navbar-fg: $white; // navbar foreground elements
$navbar-hl: $code-chunk-yellow; // highlight color when hovering over navbar links
$body-bg: $white; // page background 
$body-color: $black; // page text 
$footer-bg: $jade-green; // footer 
$link-color: $jade-green;// hyperlinks 



// Inline code
$code-bg: $white; // inline code background color
$code-color: $black; // inline code text color

// Code blocks
$code-block-bg: $code-chunk-yellow; // code block background color

/*-- scss:rules --*/

h1, h2, h3, h4 {
  letter-spacing: 5px;
  font-weight: 900;
  color: $black;
}

.title {
  color: $black;
}

.custom-subtitle {
  font-size: 22px;
  font-style: italic;
  color: $light-green;
}

