/*-- scss:defaults --*/
// Base document colors
$body-bg: #478778; // Slightly darker background for better contrast
$body-color:  #FFFFFF; // Lighter text color for better readability
$link-color: #1E90FF; // Bright blue for links
$navbar-bg:  #023020; //navbar // quarKeeping nav-bar consistent
$footer-bg:  #023020; // Keeping footer consistent
$footer-color: #FFFFFF; // Light text color for footer


// Code blocks
$code-block-bg-alpha: -.8; // Semi-transparent dark background for code blocks

/*-- scss:rules --*/

h1, h2, h3 {
  letter-spacing: 5px;
  font-weight: 700;
  color: #FFFFFF; // Pure white for headers
}

.title {
  color: #FFFFFF; // 
}

.custom-subtitle {
  font-size: 22px;
  font-style: italic;
  color: #1E90FF; // Consistent bright blue for subtitles
}
